<nav class="ui stackable inverted menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/"> Ezio's Legacy App </a>
  </header>
  
  <div class="right menu">
    <!--     Add links to your pages here -->
    <a class="item" href="/"> Home </a>
    <a class="item" href="/"> Dashboard </a>
    <a class="item"href="/"> About </a>
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
