{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Ezio's Legacy App</h2>
<br>
  <p>
    Welcome to the Ezio's Legacy App! Some people tend to forget who carried Altair's knoweledge for 
    the upcoming generations. This is a compilation of the information gathered from the start off the Assasin's 
    Creed franchise to the lore we have today.
  </p>
<br>
  <img src="/ezio-home.jpg" class = "ui huge centered image">

</section>
